div.card {
	--card-bg: #FFF;
	--card-color: #000;
	--card-color-secondary: #111;
	--card-border: #CCC;

	display: grid;
	position: relative;
	background-color: var(--card-bg);
	border: 1px solid var(--card-border);
	color: var(--card-color);
	border-radius: 1em;
	transition: 0.2s ease-in-out;
    align-content: start;
    grid-template-rows: auto 1fr;
}

div.card > div.card-title {
    display: grid;
    position: relative;
    gap: 1em;
    grid-template-columns: 1fr auto;
    justify-content: center;
	padding: 1em;
	font-size: 1.25em;
	font-weight: 600;
	border-bottom: 1px solid var(--card-border);
}

div.card > div.card-title a {
	text-decoration: none;
    transition: 0.1s ease-in-out;
    border-bottom: 2px solid transparent;
}

div.card > div.card-title a:hover {
	text-decoration: none;
    border-bottom: 2px solid rgb(var(--foreground-rgb));
}

div.card > div.card-content {
    display: grid;
    position: relative;
    grid-gap: 1.5em;
	padding: 1em;
    align-content: space-between;
}

div.card > div.card-content > div.card-text {
	color: var(--card-color-secondary);
    overflow-x: auto;
}

div.card > div.card-content > div.card-date {
    font-size: 0.85em;
    opacity: 0.65;
}

div.card > div.card-content > div.card-text img {
	max-width: 100%;
}

div.card > div.card-content > div.card-text ul {
	padding-left: 1em;
}

@media (prefers-color-scheme: dark) {
	div.card {
		--card-bg: #111;
		--card-border: #444;
		--card-color: #FFF;
		--card-color-secondary: #EEE;
	}
}

.breadcrumbs {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.breadcrumbs > .brcr {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs > .brcr:not(:last-child) {
    margin-right: 4px;
}
