.editor-window {
    padding: 1.2em 0;
    background: transparent;
    color: var(--editor-content-color-inactive);
    border-radius: 0.5em;
}

.editor-window .ProseMirror {
    color: var(--editor-content-color-inactive);
    transition: color 0.1s ease-in-out;
}

.editor-window .ProseMirror:focus-visible {
    color: var(--editor-content-color-active);
    outline: none;
}

.ProseMirror > * + *,
.post-content > * + * {
    margin-top: 0.85em;
}

.ProseMirror ul,
.ProseMirror ol {
    padding: 0 1rem;
}

pre.post-code-block > code {
    border-radius: 4px;
}

.bubble-menu {
    display: flex;
    background-color: var(--editor-bubble-bg);
    padding: 0.2rem;
    border-radius: 0.25rem;
    border: 1px solid var(--editor-bubble-border);
}

.bubble-menu button {
    border: none;
    background: none;
    color: var(--editor-bubble-color);
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0 0.4rem;
    opacity: 0.6;
}

.bubble-menu button:hover,
.bubble-menu button.is-active {
    opacity: 1;
}

.floating-menu {
    display: flex;
    background-color: var(--editor-floating-bg);
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.floating-menu button {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--editor-floating-color);
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0 0.4rem;
    opacity: 0.5;
}

.floating-menu button:hover,
.floating-menu button.is-active {
    opacity: 1;
}

.ProseMirror img,
.post-content img {
    max-width: 100%;
}
