.editor-window {
    padding: 1.2em 0;
    background: transparent;
    color: var(--editor-content-color-inactive);
    border-radius: 0.5em;
}

.editor-window .ProseMirror {
    color: var(--editor-content-color-inactive);
    transition: color 0.1s ease-in-out;
}

.editor-window .ProseMirror:focus-visible {
    color: var(--editor-content-color-active);
    outline: none;
}

.ProseMirror > * + *,
.post-content > * + * {
    margin-top: 0.85em;
}

.ProseMirror ul,
.ProseMirror ol {
    padding: 0 1rem;
}

pre.post-code-block > code {
    border-radius: 4px;
}

.bubble-menu {
    display: flex;
    background-color: var(--editor-bubble-bg);
    padding: 0.2rem;
    border-radius: 0.25rem;
    border: 1px solid var(--editor-bubble-border);
}

.bubble-menu button {
    border: none;
    background: none;
    color: var(--editor-bubble-color);
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0 0.4rem;
    opacity: 0.4;
}

.bubble-menu button:focus-visible:not(.is-active),
.bubble-menu button:hover:not(.is-active) {
    opacity: 0.65;
}

.bubble-menu button.is-active {
    opacity: 1;
}

.floating-menu {
    display: flex;
    background-color: var(--editor-floating-bg);
    padding: 0.3rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.5rem;
}

.floating-menu button {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--editor-floating-color);
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0 0.4rem;
    opacity: 0.5;
}

.floating-menu button:focus-visible,
.floating-menu button:hover {
    opacity: 0.8;
}

.ProseMirror img,
.post-content img {
    max-width: 100%;
}

.bubble-menu-wrapper button {
    line-height: 1;
    padding-bottom: 0;
}

img.editor-button-icon {
    width: auto;
    height: 1.5em;
}

div.editor-button-icon {
    display: inline-block;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5em;
    height: 1.5em;
}

.editor-button-icon.editor-icon-bold {
    background-image: var(--editor-button-bold);
}

.editor-button-icon.editor-icon-italic {
    background-image: var(--editor-button-italic);
}

.editor-button-icon.editor-icon-underline {
    background-image: var(--editor-button-underline);
}

.editor-button-icon.editor-icon-link {
    background-image: var(--editor-button-link);
}

.editor-button-icon.editor-icon-strike {
    background-image: var(--editor-button-strike);
}

.editor-button-icon.editor-icon-heading {
    background-image: var(--editor-button-heading);
}

.editor-button-icon.editor-icon-code {
    background-image: var(--editor-button-code);
}

.editor-button-icon.editor-icon-image {
    background-image: var(--editor-button-image);
}

.editor-button-icon.editor-icon-list {
    background-image: var(--editor-button-list);
}

.editor-button-icon.editor-icon-quote {
    background-image: var(--editor-button-quote);
}
